*{
  margin: 0;
  padding: 0;
}
.menu ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(36, 73, 78, 0.445);
  height: 80px;
}
.menu li{
  list-style: none;
  font-size: 50px;
}

.menu a{
  text-decoration: none;
  color: rgba(146, 144, 141, 0.884);
}
.menu a:hover{
  color: rgba(240, 255, 255, 0.774);
  text-decoration: underline;
}
.block img{
  display: block;
  justify-content: center;
  align-items: center;
  
}
.block{
  background-image: url(./img/MTYxNTg4MzE0M18xNjkuanBn.jpg);
  background-size: cover;
  height: 140vh;
}
.image img{
  display: none;
}
.img{
  display: flex;
  justify-content: space-between;
}
.btn button{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 500px;
  padding: 14px 10px;
  align-items: center;
  margin-left: 5rem;
  margin-top: 2rem;
  border: none;
  color: rgba(255, 10, 10, 0.473);
}
.btn{
  display: flex;
  height: 20px;
  gap: 100px;
}
.x{
  background-color: rgb(143, 155, 151);
}
.c{
  background-color: rgb(48, 87, 105);
}
.v{
  background-color: rgb(56, 58, 57);
}
.b{
  background-color: rgb(209, 224, 218);
}
.n{
  background-color: #fff;
}
.m{
  background-color: black;
}